@charset "utf-8";

/* 웹폰트 설정 */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/*
font-family: 'Lato', sans-serif;
Thin 100
Light 300
Regular 400
Bold 700
Black 900
font-family: 'Oswald', sans-serif;
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
*/

/* ROOT */
:root {
  --dark-color: #1d1f24;
  --dark-opacity4-color: rgba(0, 0, 0, 0.4);
  --dark-opacity7-color: rgba(0, 0, 0, 0.7);
  --light-color: #fff;
  --light-gray-color: #f2f3f6;
  --light-opacity7-color: rgba(255, 255, 255, 0.7);
  --light-opacity2-color: rgba(255, 255, 255, 0.2);
  --light-opacity3-color: rgba(255, 255, 255, 0.3);
  --point-color: #ff565c;
}

/* reset */
html {
  font-size: 62.5%;
}
body,
input {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  color: var(--dark-color);
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: normal;
  margin: 0;
}
dl,
dd,
p {
  margin: 0;
}
button,
input {
  appearance: none;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
button {
  cursor: pointer;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: underline;
}
img {
  vertical-align: top;
}
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

/* 공통 */
.hidden_txt,
legend {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  color: rgba(0, 0, 0, 0);
}
.hide {
  display: none !important;
}

/* Oswald 폰트 설정 */
.card .category,
.keyvisual .title,
.storys .title,
.storys a:before,
.leading .title,
.leading .link,
.footer .sitemap a,
.footer .connects button,
.gnb a {
  font-family: "Oswald", sans-serif;
}

/* 이미지 스프라이트 설정 */
[class^="spr_"]:not([class^="spr_b_"]):not([class^="spr_a_"]) {
  display: block;
}
[class^="spr_b_"]:before,
[class^="spr_a_"]:after {
  content: "";
  display: block;
}
.spr_icon,
.spr_b_icon:before,
.spr_a_icon:after {
  background: var(--spr_img_icon) no-repeat;
  background-size: var(--spr_img_size);
}

/* 레이아웃 */
body {
  padding-top: 7.1rem;
  background-color: #f9fafc;
}
.wrap {
  min-width: 32rem;
}
.main_container > .inner,
.header > .inner,
.footer > .inner {
  max-width: 144rem;
  margin: 0 auto;
}
.main_container > .inner {
  padding: 2rem;
  box-sizing: border-box;
}
.header {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  height: 7rem;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--light-color);
  z-index: 10;
}
.header > .inner,
.footer > .inner {
  display: flex;
}
.header > .inner {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background-color: var(--dark-color);
}

/* header 콘텐츠 */
.logo {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3rem;
  display: block;
  padding-right: 0.6rem;
  position: relative;
  margin-left: 2rem;
}
.logo:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.7rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--point-color);
}
.view_menu {
  width: 6.7rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.view_menu span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.view_menu:before,
.view_menu:after {
  position: absolute;
  left: 50%;
  top: 50%;
  will-change: transform, margin-top;
  transition-property: transform, margin-top;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%) rotateZ(0);
}
.view_menu:before,
.view_menu:after,
.view_menu span {
  content: "";
  width: 2.8rem;
  height: 0.2rem;
  background-color: var(--dark-color);
}
.view_menu:before {
  margin-top: -0.7rem;
}
.view_menu:after {
  margin-top: 0.7rem;
}
.view_menu.prev_close:before,
.view_menu.prev_close:after,
.view_menu.close:before,
.view_menu.close:after {
  margin-top: 0;
}
.view_menu.close span {
  width: 0;
}
.view_menu.close:before {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.view_menu.close:after {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.view_menu.close.next_close:before,
.view_menu.close.next_close:after {
  transform: translate(-50%, -50%) rotateZ(0);
}
.gnb {
  position: absolute;
  width: 100%;
  left: 0;
  top: 7.1rem;
  height: 0;
  overflow: hidden;
  background-color: var(--light-color);
  box-shadow: 0 0 0.5rem -0.5rem var(--dark-color);
  will-change: height, box-shadow;
  transition-property: height, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.gnb.open {
  box-shadow: 0 0.5rem 0.5rem -0.5rem var(--dark-color);
  height: 26.6rem;
}
.gnb li {
  border-bottom: 0.1rem solid var(--light-gray-color);
}
.gnb a {
  font-size: 1.4rem;
  color: var(--dark-color);
  font-weight: 500;
  padding: 0 2rem;
  display: flex;
  height: 3.7rem;
  align-items: center;
}

/* main 콘텐츠 */
.wrap:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 300ms ease-out;
  transition-property: background-color;
  z-index: -1;
  visibility: hidden;
}
.wrap.dimed:after {
  visibility: visible;
  z-index: auto;
  background-color: rgba(0, 0, 0, 0.1);
}
.wrap.dimed.active:after {
  background-color: var(--dark-opacity7-color);
}
.card {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 2rem;
  min-height: 27.4rem;
}
.inner > .card:last-child {
  margin-bottom: 0;
}
.card > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-color);
  background-color: var(--dark-opacity4-color);
  align-items: flex-start;
  padding: 3rem 0 9rem;
  min-height: 27.4rem;
  height: 100%;
  box-sizing: border-box;
}
.card > a:hover,
.card > a:focus {
  text-decoration: none;
}
.card > a:hover .title,
.card > a:focus .title {
  text-decoration: underline;
}
.card .category {
  display: flex;
  background-color: var(--point-color);
  color: var(--light-color);
  text-transform: uppercase;
  height: 4rem;
  font-size: 1.4rem;
  align-items: center;
  letter-spacing: 0.1rem;
  padding: 0 2.5rem;
  margin-bottom: 2.3rem;
}
.card .title {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 500;
  padding: 0 6rem 0 2.5rem;
  max-height: 9rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card .description {
  color: var(--light-opacity7-color);
}
.card .info {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2.5rem;
  left: 2.8rem;
}
.card .info dt {
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.card .info .share {
  width: 1.8rem;
  margin-right: 1.1rem;
  background-image: url(../img/icon_share.svg);
}
.card .info .view {
  width: 2.2rem;
  margin-right: 0.9rem;
  background-image: url(../img/icon_view.svg);
}
.card .info .comment {
  width: 2rem;
  margin-right: 1rem;
  background-image: url(../img/icon_comment.svg);
}
.card .info dd {
  font-size: 1.3rem;
  font-weight: 400;
  height: 2rem;
  display: inline-flex;
  align-items: center;
}
.card .info dd:not(:last-child) {
  margin-right: 1.6rem;
}
.keyvisual > a {
  height: 44rem;
  padding: 0 0 2.5rem;
  box-sizing: border-box;
}
.keyvisual .category {
  margin: 0 auto;
}
.keyvisual .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.6rem;
  line-height: 4rem;
  letter-spacing: -0.02rem;
  margin: 2rem 3rem 0;
  padding: 0;
  max-height: 16rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.keyvisual .description {
  display: none;
}
.keyvisual .info {
  bottom: 3.4rem;
  left: 50%;
  transform: translateX(-50%);
}
.storys {
  background-color: var(--light-color);
  border: 0.1rem solid var(--light-gray-color);
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 3.4rem 0 0;
}
.storys .title {
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-left: 2.7rem;
}
.storys ol {
  padding-top: 0.2rem;
}
.storys li:not(:first-child) {
  border-top: 0.1rem solid var(--light-gray-color);
}
.storys a {
  display: block;
  padding: 3rem 6.7rem 3rem 5.8rem;
  position: relative;
}
.storys a span {
  color: var(--dark-color);
  font-size: 1.8rem;
  line-height: 2.6rem;
  max-height: 5.2rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.storys a:before {
  opacity: 0.17;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 3rem;
}
.storys li:nth-child(1) a:before {
  content: "1";
}
.storys li:nth-child(2) a:before {
  content: "2";
}
.storys li:nth-child(3) a:before {
  content: "3";
}
.storys li:nth-child(4) a:before {
  content: "4";
}
.storys li:nth-child(5) a:before {
  content: "5";
}
.leading {
  background-color: var(--point-color);
  margin-bottom: 2rem;
  padding: 3.8rem 2.5rem 4rem;
  color: var(--light-color);
}
.leading .title {
  display: block;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 4rem;
  letter-spacing: -0.05rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.leading .description {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3.4rem;
  font-weight: 400;
}
.leading .link {
  color: var(--light-color);
  border-width: 0.1rem 0.1rem 0.2rem;
  border-style: solid;
  border-color: var(--light-color);
  display: inline-flex;
  box-sizing: border-box;
  width: 21rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.leading .link:hover,
.leading .link:focus {
  text-decoration: none;
  color: var(--point-color);
  background-color: var(--light-color);
}

/* footer 콘텐츠 */
.footer .inner {
  flex-direction: column;
  padding: 4rem 2rem 6rem;
}
.footer .view_copyright,
.footer .sitemap,
.footer .connects {
  display: flex;
}
.footer .view_copyright {
  flex-direction: column;
  margin-bottom: 2rem;
}
.footer .logo {
  color: var(--light-opacity2-color);
  display: inline-flex;
  margin: 0 auto 0.7rem 0;
}
.footer .copyright {
  color: var(--light-opacity7-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.footer .sitemap {
  order: 3;
  flex-wrap: wrap;
}
.footer .sitemap li {
  width: 50%;
  margin-bottom: 1.7rem;
}
.footer .sitemap li:last-child {
  margin-bottom: 0;
}
.footer .sitemap a {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.footer .connects {
  order: 2;
  flex-direction: column;
  margin-bottom: 3.3rem;
}
.footer .connects form {
  margin-bottom: 2.8rem;
}
.footer .connects fieldset {
  position: relative;
  display: flex;
  width: calc(100% - 3.5rem);
}
.footer .connects input,
.footer .connects label {
  font-size: 1.4rem;
  height: 3.5rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
}
.footer .connects input {
  background-color: var(--light-color);
  width: 100%;
}
.footer .connects label {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 12rem);
}
.footer .connects button {
  display: inline-flex;
  color: var(--light-color);
  width: 12rem;
  flex: 0 0 12rem;
  height: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--point-color);
  letter-spacing: 0.1rem;
  justify-content: center;
  align-items: center;
}
.footer .connects dl {
  display: flex;
  align-items: center;
}
.footer .connects dt {
  color: var(--light-opacity7-color);
  font-size: 1.4rem;
  margin-right: 2rem;
}
.footer .connects dt:after {
  content: " : ";
}
.footer .connects a {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--light-opacity3-color);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-size: auto 1.6rem;
  mask-size: auto 1.6rem;
}
.footer .connects a:hover,
.footer .connects a:focus {
  background-color: var(--light-opacity7-color);
}
.footer .instagram {
  -webkit-mask-image: url(../img/icon_instagram.svg);
  mask-image: url(../img/icon_instagram.svg);
}
.footer .pinterest {
  -webkit-mask-image: url(../img/icon_pinterest.svg);
  mask-image: url(../img/icon_pinterest.svg);
}
.footer .twitter {
  -webkit-mask-image: url(../img/icon_twitter.svg);
  mask-image: url(../img/icon_twitter.svg);
}
.footer .facebook {
  -webkit-mask-image: url(../img/icon_facebook.svg);
  mask-image: url(../img/icon_facebook.svg);
}

/* 태블릿 */
@media all and (min-width: 768px) {
  body {
    padding-top: 9.1rem;
  }
  .header {
    height: 9rem;
  }
  .gnb {
    top: 9.1rem;
  }
  .gnb.open {
    height: 34.3rem;
  }
  .gnb a {
    height: 4.8rem;
    font-size: 1.6rem;
  }
  .main_container > .inner {
    padding-top: 4rem;
  }
  .card {
    margin-bottom: 1.5rem;
  }
  .card .title {
    padding-right: 2.5rem;
  }
  .card > a {
    justify-content: flex-start;
  }
  .keyvisual > a {
    height: 58rem;
    justify-content: center;
  }
  .keyvisual .title {
    font-size: 3.2rem;
    line-height: 4.9rem;
    margin: 3rem 10rem 1rem;
    padding-right: 0;
  }
  .keyvisual .description {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 0 12rem;
  }
  .story_group {
    display: grid;
    grid-template-columns: calc(41% - 0.75rem) calc(59% - 0.75rem);
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
  }
  .story_group .card {
    margin-bottom: 0;
  }
  .storys {
    grid-area: 1 / 1 / 3 / 2;
    margin-bottom: 0;
  }
  .storys a {
    padding-right: 3.2rem;
  }
  .story_group .card:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .story_group .card:nth-of-type(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .leading {
    margin-bottom: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .leading .title {
    font-size: 3.2rem;
    line-height: 4.9rem;
  }
  .leading_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
  }
  .leading_group .leading {
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 0;
  }
  .leading_group .card {
    margin-bottom: 0;
  }
  .leading_group .card:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .leading_group .card:nth-of-type(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .footer .inner {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .footer .view_copyright {
    width: 24.7rem;
    margin-bottom: 0;
  }
  .footer .sitemap {
    order: 2;
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100% - 24.7rem);
  }
  .footer .sitemap li {
    width: 16rem;
    margin-bottom: 1.2rem;
  }
  .footer .connects {
    order: 3;
    flex-direction: row;
    width: 100%;
    margin-top: 4.5rem;
    margin-bottom: 0;
  }
  .footer .connects form {
    margin-bottom: 0;
    margin-right: 3rem;
  }
  .footer .connects fieldset {
    width: 30rem;
  }
}

/* PC */
@media all and (min-width: 1024px) {
  .view_menu {
    display: none;
  }
  .header > .inner {
    justify-content: flex-start;
  }
  .gnb {
    height: 9rem;
    transition-property: none;
    box-shadow: none;
    position: static;
    background: none;
    margin-left: 1rem;
    width: auto;
  }
  .gnb ul {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .gnb li {
    border: 0;
    padding: 0 1rem;
  }
  .gnb a {
    font-size: 1.4rem;
    height: auto;
    padding: 2rem;
    color: var(--dark-opacity4-color);
  }
  .gnb a:hover,
  .gnb a:focus {
    text-decoration: none;
    color: var(--dark-color);
  }
  .logo {
    margin-left: 4rem;
  }
  .main_container > .inner {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 27.4rem);
    gap: 3.6rem 3.6rem;
    position: relative;
  }
  .main_container > .inner > .keyvisual {
    grid-area: 1 / 1 / 3 / 4;
  }
  .main_container > .inner > .story_group {
    grid-area: 3 / 1 / 5 / 4;
  }
  .main_container > .inner > .card:not(.keyvisual) {
    position: absolute;
    left: calc(25% + 2.9rem);
    bottom: 35rem;
    width: calc((100% - 11.6rem) / 2);
  }
  .main_container > .inner > .card:not(.keyvisual) .info {
    left: 2.8rem;
    transform: none;
  }
  .main_container > .inner > .card:not(.keyvisual) .title {
    padding-right: 6rem;
  }
  .leading_group {
    grid-area: 1 / 4 / 5 / 5;
    grid-template-columns: 1fr;
    grid-template-rows: 27.4rem 58.4rem 27.4rem;
    gap: 3.6rem 0;
  }
  .leading_group .leading {
    grid-area: 2 / 1 / 3 / 2;
    order: 2;
  }
  .leading .link {
    max-width: 21rem;
    width: 100%;
  }
  .leading .title,
  .leading .description {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
  }
  .leading .title {
    max-height: 24.5rem;
  }
  .leading .description {
    max-height: 15rem;
  }
  .leading_group .card:nth-of-type(2) {
    grid-area: 1 / 1 / 2 / 2;
    order: 1;
  }
  .leading_group .card:nth-of-type(3) {
    grid-area: 3 / 1 / 4 / 2;
    order: 3;
  }
  .story_group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 27.4rem 27.4rem;
    gap: 3.6rem 3.6rem;
  }
  .story_group .storys {
    grid-area: 1 / 1 / 3 / 2;
  }
  .story_group .card:nth-child(2) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .story_group .card:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4;
  }
  .card {
    margin-bottom: 0;
  }
  .card:not(.keyvisual) .info {
    left: 50%;
    transform: translateX(-50%);
  }
  .card:not(.keyvisual) .info dd {
    font-size: 1.1rem;
  }
  .card:not(.keyvisual) .info dd:not(:last-child) {
    margin-right: 1rem;
  }
  .card:not(.keyvisual) .info dt {
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  .keyvisual > a {
    height: 100%;
  }
  .storys ol {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2.3rem);
  }
  .storys li {
    height: 20%;
  }
  .storys a {
    padding-bottom: 0;
    height: calc(100% - 3rem);
  }
  .footer .inner {
    padding: 4rem;
    flex-wrap: nowrap;
  }
  .footer .sitemap {
    width: calc(100% - 54.7rem);
    margin-top: -0.6rem;
  }
  .footer .sitemap li {
    width: 25%;
    max-width: 20rem;
    margin: 0.6rem 0;
  }
  .footer .connects {
    width: 30rem;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
  }
  .footer .connects form {
    margin-right: 0;
    order: 2;
  }
  .footer .connects dl {
    margin-bottom: 0.7rem;
  }
}
@media all and (min-width: 1200px) {
  .card:not(.keyvisual) .info {
    left: 2.8rem;
    transform: none;
  }
  .card:not(.keyvisual) .info dd {
    font-size: 1.3rem;
  }
  .card:not(.keyvisual) .info dd:not(:last-child) {
    margin-right: 1.6rem;
  }
  .card:not(.keyvisual) .info dt {
    height: 2rem;
    margin-right: 1.1rem;
  }
}

/* 터치 스크린일 경우 */
@media all and (pointer: coarse) and (hover: none) {
  a:hover,
  a:focus {
    text-decoration: none;
  }
  .card > a:hover .title,
  .card > a:focus .title {
    text-decoration: none;
  }
  .leading .link:hover,
  .leading .link:focus {
    color: var(--light-color);
    background-color: var(--point-color);
  }
  .footer .connects a:hover,
  .footer .connects a:focus {
    background-color: var(--light-opacity3-color);
  }
  .gnb a,
  .gnb a:hover,
  .gnb a:focus {
    color: var(--dark-color);
  }
}
